* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    @include dis-col;
    align-items: center;
    background-color: whitesmoke;
}

header{
    @include dis-row;
    width: 100%;
    padding: 5%;
    background-color: dimgray;
    color: whitesmoke;
    > aside{
        @include dis-row;
        align-items: center;
        column-gap: 2vh;
        font-size: 36px;
    }
}

footer{
    background-color: dimgray;
    width: 100%;
    text-align: center;
    padding: 1%;
    color: whitesmoke;
    a{
        text-decoration: underline;
        color: whitesmoke;  
    }
}

