@media(min-width:1000px){

    // header
    .jp-head {

        h1 {
            width: 40%;
        }
    }  
    
    // main
    .jp-main {
        .card-img {
            height: 20vh;
            width: 100%;
        }
        .card {
            width: 13%;
        }

        .card-title {
            z-index: 2;
            background-color: $color-j02;
            color: black;
            border-radius: 5px;
        }

        .card-text {
            display: none;
            border-radius: 5px;
            background-color: $color-j02;
            color: black;
            font-size: 12px;
            line-height: 1;
            margin: 0;
            font-size: 9px;
        }

        .card:hover {
            transform: perspective(1000px) translateZ(500px);
            z-index: 3;
            cursor: pointer;
            transition: all .5s
        }
        .card:hover .card-text {
            display: flex;
            z-index: 3;
            transition: all .5s;
        }
        .list-group-flush {
            display: none;
        }
    }

    // league
    .league-j {

        > article,
        > section {
            width: 70%;
        }
        figure  {
            column-gap: 0;
        }

        img {
            width: 30%;
            border-radius: 20px;
        }

        figcaption {
            flex-direction: row;
            width: 70%;
        }

        h3,p {
            width: 50%;
        } 

        h3 {
            align-self: center;
        }
    }

    // title
    .title-japan {
        > p {
            width: 100%;
        }
    }

    // best
    .b-player-j {
        > article,
        > section {
            width: 70%;
        }
    }

    .b-player-card {
        flex-direction: row;
        flex-wrap: nowrap; 
        align-items: flex-start;

        img {
            height: 40vh;
        }  
    }

    // stars
    .stars-j{
        @include dis-col;
        justify-content: center;
        align-items: center;

        > article,
        > section {
            width: 70%;
        }
    }
    .stars-card-j {
        flex-direction: row;
        flex-wrap: nowrap; 
        align-items: flex-start;         
    }

    // n-team
    .n-team-j {
        > section,
        > article {
            width: 70%;
        }
    }

    .n-team-section{
        @include dis-wrap(10vh,4vh);
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        > article {
            width: 30%;
        }
        th, td {
            font-size: 12px;
            padding: 0 1%;
        }
        img {
            height: 25vh;
        }        
    }    
}