@media(min-width:600px) {
    .nav-j {
        details {
            display:none;
        }

        > ul {
            display: flex;
            justify-content: center;
            background-color: $color-j02;
            width: 60%;
            padding: 0;
            border-radius: 3px;
        }

        li {
            display: flex;
            width: 100%;
            list-style: none;
        }
        a {
            width: 100%;
            color: $color-j01;
            text-transform: capitalize;
            text-decoration: none;
            text-align: center;
        }
    }
   
    .jp-main {
        .card-text {
            display: flex;
        }
        .card-img {
            height: 50vh;
            width: 100%;
        }
        .card {
            width: 45%
        }
    }

    .league-j {
        figure {
            display: flex;
            column-gap: 2vh;
        }
        img,figcaption {
            width: 50%;
            height: 50vh;
            @include dis-col;
            align-items: center;
            justify-content: center
        }
    }

    // bset players
    .b-player-card {
        @include dis-wrap(4vh,4vh);
        flex-direction: row;
        justify-content: center;

        > article {
            width: 45%;
            flex-direction: row;
            flex-wrap: wrap;
        }
        figure {
            display: flex;
            align-items: center;
        }
        img {
            height: 80vh;
            width: 100%;
            object-fit: cover;
        }
        
    }

    // stars
    .stars-j {
        > section {
            @include dis-wrap(3vh,3vh);
        } 
    }

    // n-team
    .n-team-j {
        @include dis-col;
        align-items: center;

        > section,
        > article {
            width: 95%;
        }
    }

    .n-team-section {
        @include dis-wrap(10vh,4vh);
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;

        > article {
            width: 45%;
            @include dis-col;
            align-items: center;
        }
        th, td {
            font-size: 12px;
            padding: 0 1%;
        }
    
        img {
            height: 40vh;
        }        
    }
}