@media (min-width: 1000px) {
    details{
        display: none;
    }
    .england-main{
        img {
            height: 50vh;
            width: 125vh;
        }
    }
    .history {
        p {
            width: 85%;
        }
    }

    .leaguestats {
        img {
            height: 37vh;
            width: 50vh;
        }
    }

    #winners {

        img {
            height: 72vh;
            width: 82vh;
        }

        time {
            padding-right: 5vh;
        }
    }
}


