@media (min-width: 600px) {
    details{
        display: none;
    }

    .pborder {
        border-bottom: none;
    }

    .leaguestats {
        flex-direction: row;
        justify-content: center;
        column-gap: 5vh;

    }

    

   #strikers {
        padding-top: 3vh;
   }

    #winners {
        > article {
            align-items: center;
        }
    }

}

   

