@media (min-width: 600px){
    main{
        nav{
            ul{
                row-gap: 2vh;
                justify-content: space-around;
            }
            li{
                width: 12vh;
                height: 5vh;
                @include dis-row;
            }
        }
    }
    .brazil-league{
        figure{
            img{
                width: 20vh;
            }
        }

    }
}