@media (min-width: 1000px){

    header{
        column-gap: 40vh;
    }
    
    main{
        row-gap: 10vh;
        align-items: center;
    }
    .carousel{
        height: 50vh;
        width: 90%;
        img{
            height: 70vh;
        }
    }


    .leagues, .stars,.best-league{
        > section{
            column-gap: 0vh;
            justify-content: space-around;
        }
    }

    .leagues{
        figure{
            width: 25%;
            padding: 2%;
            img{
                width: 30vh;
                height: 25vh;
            }
        }        
    }

    .stars,.best-league{
        > section{
            > article{
                width: 25%;
            }
        }
    }

    .world-champion{
        > section {
            @include dis-row;
            column-gap: 5vh;
            > aside{
                width: 40%;
            }
    
            > article{
                @include dis-col;
                row-gap: 2vh;
                width: 55%;
                text-align: center;
                h3{
                    font-size: 26px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: dimgray;
                }
                p{
                    text-align: justify;
                }
            }
        }
    }
}